html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
/* Defino que 1rem sea 10px */

$colorEncabezado: #84b6f4;
$colorPanel: #6a9eda;
$colorBoton1: #b2dafa;
$colorBoton2: #dcffff;
$colorPieDePagina: #000000;
$xxlg: 2.2rem;
$lg: 2rem;
$xlg: 1.75rem;
$md: 1.5rem;
$xxsm: 1.25rem;
$sm: 1rem;
$xsm: 0.8rem;
