/* Inicia footers */
/* Inicia multimedia */
.iconosIndex {
  display: block;
  height: 30px;
  margin-right: 10px;
  filter: invert(1);
}
/* Finaliza multimedia */
footer {
  width: 100%;
  background-color: $colorPieDePagina;
  color: white;
  margin-top: 2%;
  @extend %flexCentrado;
}
.footerContenedor {
  width: 100%;
  max-width: 90rem;
  padding: 0% 2%;
  display: flex;
}
#contacto {
  padding: 2%;
  a {
    text-decoration: none;
  }
}
.contactoDatos {
  display: flex;
  height: 30px;
  margin: 5px 0;
}
.contactoDatosDoble {
  display: flex;
  height: 60px;
  margin: 5px 0;
}
.contactoTexto {
  color: white;
  font-size: $md;
  line-height: 30px;
  font-weight: 600;
  text-shadow: 1px 1px 2px white;
  width: 270px;
  transition: all 0.25s;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  &:hover {
    color: rgba(255, 185, 0, 1);
    text-shadow: 1px 1px 2px rgba(255, 185, 0, 1);
  }
}
.datosIconos {
  height: 100%;
  margin-right: 2%;
}
.datosInformacion {
  margin-left: 10px;
}
/* Finaliza footers */
